<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<h2>Welcome to the Money House!</h2>

<div ng-app="loginPage" ng-controller="loginController">
    <form name="login" ng-submit="submit()">
        <input type="text" placeholder="username" ng-model="username"><br>
        <input type="password" placeholder="password" ng-model="password"><br>
        <input type="submit" id="submit" value="Login"/>
    </form>
    <input type="button" id="signUp" ng-click="signUpPage()" value="Sign Up"/>
</div>

<script language="javascript">
    var app = angular.module('loginPage', []);
    app.controller('loginController', function($scope, $http, $window) {
        $scope.submit = function() {
            $window.sessionStorage.name = $scope.username;

            var login_http = $http({
                method: 'POST',
                url: '/login',
                params: { username: $scope.username, password: $scope.password }
            }).then(
                    function (successfulResponse) {
                        $window.sessionStorage.id = successfulResponse.data[0].user_id;
                        $window.location.href = '/casinoHomePage';

                    }, function (errorResponse) {
                        $window.location.href = '/';
                    }
            )
        }

        $scope.signUpPage = function() {
            $window.location.href = '/signUpPage';
        }
    });
</script>

</body>
</html>